<div class="card border-success mb-3">
    <div class="card-header">Servicios</div>
    <div class="card-body text-success">
      <h5 class="card-title">Listado de servicios</h5>
      <div class="my-2 text-left">
          <button class = "btn btn-rounded btn-success" type="button" [routerLink]="['/servicios/form']">Crear servicio</button>
      </div>
        <table class="table table-bordered table-striped">
     
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tiempo</th>
                <th>Precio</th>

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let servicio of servicios">

                <td>{{servicio.id}}</td>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.descripcion}}</td>
                <td>{{servicio.tiempo}}</td>
                <td>{{servicio.precio}}</td>
          
            </tr>
        </tbody>
    </table>
    </div>
  </div>

