<div class="card border-success mb-3">
    <div class="card-header">Categorias</div>
    <div class="card-body text-success">
      <h5 class="card-title">Listado de Categorias</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="my-2 text-left">
          <button class = "btn btn-rounded btn-success" type="button" [routerLink]="['/categorias/form']">Crear Categoria</button>
      </div>
        <table class="table table-bordered table-striped">
     
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let categoria of categorias">
                <td>{{categoria.id}}</td>
                <td>{{categoria.nombre}}</td>
                <td>{{categoria.descripcion}}</td>
                <td>
                    <button type="button" name="editar" [routerLink]="['/categorias/form', categoria.id]" class="btn btn-success btn-sm">Editar</button>
                </td>
                <td>
                    <button type="button" name="eliminar" (click)='delete(categoria)' class="btn btn-danger btn-sm">Eliminar</button>
                  </td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
